<h2>Restablecer Contraseña</h2>

<form action="/api/password/reset-password" method="POST">
    <input type="hidden" name="token" value="{{token}}" />

    <label for="newPassword">Nueva Contraseña:</label>
    <input type="password" name="newPassword" required />

    <button type="submit">Restablecer</button>
</form>
